@import pages/login
@import helpers/variables

body
  font-family: $textFont
  background-color: $navyColor

.headings
  margin: 0
  color: $lightGrey
  margin-left: 10%

.mainHeading
  @extend .headings
  font-family: $headingFont
  font-size: 3em

.subHeading
  @extend .headings
  font-size: 0.8em

.headingDiv
  margin-top: 5vh
  height: 30vh

.authErrorMsg
  @extend .subHeading
  color: red
  font-size: 1em

.greeting
  @extend .headings
  margin-left: 0
  text-align: center
  font-size: 1.9em
  font-family: $headingFont

#greetingName
  margin-bottom: 5vh

.bizzListItem
  text-align: center
  margin: auto
  border: 5px solid $lightGrey
  width: 80%
  padding-top: 15px
  padding-bottom: 15px
  font-family: $textFont
  font-size: 1.7em
  color: $lightGrey

.buzzText
  color: hotpink

.buzzPostTime
  color: orange

.thing1
  color: lime

.thing2
  color: skyblue
